@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
}

body {
  font-family: Inter, sans-serif;
  height: 100vh;
  background-image: radial-gradient(ellipse, #3b0053, #290026);
}

#root {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #eeeeee;
  width: 480px;
  height: 555px;
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 0 121px rgba(225, 0, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s;
}

.card--limit {
  opacity: 0.9;
}

.title {
  color: #6c0075;
  text-transform: uppercase;
  letter-spacing: -2px;
  text-align: center;
  line-height: 0.9;
  font-weight: 900;
  font-size: 32px;
  margin-top: 60px;
}

.count {
  color: #240725;
  font-size: 200px;
  font-weight: 600;
}

.reset-btn {
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.4s;
}

.reset-btn:hover,
.reset-btn:focus {
  opacity: 0.5;
}

.reset-btn-icon {
  color: #1c0725;
  height: 40px;
  width: 40px;
}

.button-container {
  background-color: #1e0725;
  height: 116px;
  width: 100%;
  margin-top: auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
}

.count-btn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
}

.count-btn:first-child {
  border-right: 1px solid rgba(224, 0, 254, 0.15);
}

.count-btn:disabled {
  cursor: not-allowed;
}

.count-btn:not(:disabled):hover,
.count-btn:not(:disabled):focus {
  background-color: #33083b;
}

.count-btn--plus {
  border-left: 1px solid rgba(224, 0, 254, 0.15);
}

.count-btn-icon {
  color: #bdfe00;
  opacity: 0.9;
  height: 40px;
  width: 40px;
}

.tip {
  color: #fff;
  margin: 5px 0;
  opacity: 0.6;
}

@media (max-width: 680px) or (max-height: 730px) {
  .card {
    max-width: 90%;
  }
}
